/*** FOOTER ***/

footer {
    width: 100%;    
    background-color: #fff;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.col-box1 {
    margin-left: 100px;
}

.col-box2 {
    line-height: 2;
    margin-right: 100px;
}

@media screen and (max-width: 856px) {
    .col-box1 img {
        width: 85px;
        height: 51px;
    }

    .col-box1,
    .col-box2 {
        margin: 0;
    }

    .footer-content {
        font-size: 10px;
    }
}