/*** FOOTER ***/

footer{
    width: 100%;
    height: 200px;
    margin-top: 180px;
    background-color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.col-box1 {
    margin-left: 100px;
}

.col-box2 {
    padding-top: 35px;
    margin-right: 100px;
}