/* 혜민 - 데탑 - 메인 페이지*/
body {
    margin: 0;
}

header {
    text-align: center;
}

#logo {
    width: 232px;
    height: 142px;
}

.container { 
    width: 100%;
    height: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23468B;
}

p {
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
}

#map {
    max-width: 100%;
    height: auto;
    margin-top: 138px;
    object-fit: cover;
}

main {
    display: none;
}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 316px;
}

footer{
    width: 100%;
    background-color: #23468B;
}
  
.contain {
  display: flex;
  justify-content: space-evenly;  
}

footer .col {
  align-items: center;
  float: left;
  column-gap: 40px; /*글자사이의 거리 */
}

footer .col .social {
  float: left;
}

footer .col h1 {
  font-size: 15px;
  line-height: 17px;
  padding: 30px 0px 0px 40px;
  color: #FFD02C;
  /* footer 소제목 글씨 모양 */
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

footer .col ul {
  list-style-type: none; /* • 모양 없애기 */
}

footer .col ul li {
  color: #fff;
  font-size: 0.97vw;
  /*글자사이의 간격*/
  padding: 6px 0px 6px 0px; 
  cursor: pointer; /*cursor 마우스 커서 모양 뜨기 */
  /*마우스 커서 시 색상 변하는 속도 조절 */
  transition: 0.2s; 
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
}
 
i {
  font-size: 1.1rem;
}
/*마우스커서 올릴 시 글자의 색상이 변함 */
footer .col ul li:hover {
  color: #FFD02C;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

/*마우스커서 올릴 시 글자의 색상이 변함 */
social ul li img :hover {
  color: #fff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 834px) {
    #logo {
        width: 154px;
        height: 94px;
    }

    p {
        font-size: 1rem;
    }

    .container { 
        height: 300px;
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 600px) {
    #logo {
        width: 100px;
        height: 62px;
    }

    p {
        font-size: 0.8rem;
    }

    .container { 
        height: 250px;
        margin-top: 10px;
    }
    
    #map {
        display: none;
    }

    main {
        display: flex;
        padding: 35px;
        column-gap: 42px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        background-color: #FFD02C;
        border-radius: 1rem;
        width: 138px;
        height: 171px;
        cursor: pointer;
    }

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-image { 
        width: 138px;
        height: 128px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }

    .card-title {
        display: flex;
        justify-content: center; 
        column-gap: 20px;
        font-size: 13px;
    }

    .card-menu {
        font-size: 10px;
        text-align: center; 
        margin: 0;
        color: #000;
    }

    #wrapper {
        padding-bottom: 100px;
    }
}