/* 혜민 - 데탑 - 메인 페이지*/
body {
    margin: 0;
}

/*** containers ***/
.container {
    width: 100%;
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
}

.box1 { 
    max-height: 900px;
    min-height: 400px;
    background-image: url(/img/main-background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo {
    max-width: 1500px;
    max-height: 800px;
}

.box2 { 
    min-height: 1024px;
    background-color: #474877;
    /* background-image: url(/img/main2.png); */
}

.box3 { 
    min-height: 1024px;
    background-color: #5a65a2;
    /* background-image: url(/img/main3.png); */
}

.keyword {
    color: #FFD02C;
    font-size: 3.75rem;
}

.intro {
    color: #fff;
    font-size: 1.875rem;
    letter-spacing: 0.3rem;
}

.main-content {
    color: #fff;
    font-size: 1.25rem;
}

.line-content {
    color: #fff;
    font-size: 1.563rem;
}

.title-content {
    color: #FFD02C;
    font-size: 1.875rem;
}

/*** box1 ***/
.main-logo {
    min-width: 600px;
}

/*** box2 ***/
.box2 .keyword {
    padding-top: 5%;
    margin-left: 40%;
}

.box2 .intro {
    padding-top: 2%;
    margin-left: 15.5%;
}

.box2 .main-content {
    text-align: center;
    margin-left: 20%;
}

.box2 .line-content {
    position: absolute;
    padding-top: 26%;
}

.box2 .main-img {
    padding-top: 4%;
    max-width: 40vw;
    max-height: 25vw;
}

.box2 .moon-img {
    margin-top: -6%;
    margin-left: 20%;
    max-width: 20vw;
    max-height: 20vw;
}

.box2 .contents-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box2 .img-container {
    display: flex;
    justify-content: center;
    margin-left: 20%;
}

/*** box3 ***/
.box3 .intro {
    padding-top: 4.5%;
    margin-left: 70%;
}

.box3 .keyword {
    padding-top: 1%;
    margin-left: 70%;
}

.box3 .main-content {
    margin-top: 10%;
    list-style-type: square;
}

.box3 span {
    color: #FFD02C;
}

.box3 .line-content {
    position: absolute;
    padding-top: 26%;
}

.box3 .main-img {
    position: relative;
    max-width: 40vw;
    max-height: 25vw;
}

.box3 .contents-container {
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box3 .img-container {
    display: flex;
    justify-content: center;
}

/*** MediaQuery ***/
@media screen and (max-width: 856px) {
    .box2 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .moon-img {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        width: 100px;
        height: 62px;
    }

    p {
        font-size: 0.8rem;
    }

    .container { 
        height: 250px;
        margin-top: 10px;
    }
    
    #map {
        display: none;
    }

    main {
        display: flex;
        padding: 35px;
        column-gap: 42px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        background-color: #FFD02C;
        border-radius: 1rem;
        width: 138px;
        height: 171px;
        cursor: pointer;
    }

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-image { 
        width: 138px;
        height: 128px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }

    .card-title {
        display: flex;
        justify-content: center; 
        column-gap: 20px;
        font-size: 13px;
    }

    .card-menu {
        font-size: 10px;
        text-align: center; 
        margin: 0;
        color: #000;
    }

    #wrapper {
        padding-bottom: 100px;
    }
}