/* 민영 - 점포 - 서브 페이지/ */

/* 일단 점포 <틀> 만들어 주시면 돼요!
틀 만드시고 나중에 점포별 내용 채워넣는 건 같이 할 예정~^^>^ */

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GyeonggiBatang';
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    display: block;
    width: 100%;
    height: 2000px;
    margin-top: 100px;
    background-color: #112F6B;
    position: relative;
}

.main {
    display: block;
    width: 80%;
    height: 80%;
    margin: 60px auto;
    background-color: #fff;
    justify-content: center;
}

/* page1 */
#page1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
}

#page1 img {
    width: 600px;
    height: 500px;
}
.txt-div{
    margin: auto 0;;
}
.txt1 {
    display: inline-block;
    font-size: 40px;
    line-height: 2;
}
/* title */
.title {
    text-align: left;
    margin-top: 5%;
    display: flex;
    margin: 20px;
    justify-content: flex-start;
}
/*hr태그 왼쪽 정렬! */
/*h1 밑줄 긋기 */
h1::after{
    content: "";
    display: block;
    width: 180px;
    border-bottom: 2px solid black;
    margin: 20px 0px;
}
/* page2 */
#page2 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explain-grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-column-gap: 80px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 67%;
    transform: translate(-50%, -50%);}
.column-item {
    padding: 1rem;
    grid-column-gap: 80px;
    text-align: center;
    justify-content: center;
}

.explain-grid .column-item:nth-child(2n+1) {
    border-right: 1px solid #112F6B;
}

/*** FOOTER ***/

footer {
    width: 100%;
    height: 200px;
    margin-top: 180px;
    background-color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.col-box1 {
    margin-left: 100px;
}

.col-box2 {
    padding-top: 35px;
    margin-right: 100px;
}