body{
    margin: 0;
    background-color: #112F6B;
     margin:30px 50px 30px 50px;
}

/* container */
.container{
    width: 100%;
    height: 2186px;
    background-color: #FFFFFF;
}
/* header */
header{
    
}

/* page1 */
.title{
    text-align: center;
}
h2{
    padding-top: 50px;
}
#page1{
    margin-top: 50px;
    height: 380px;
    text-align: center;
}
#page1 img{
    width: 308px;
    height: 369px;
    margin-right: 100px;
    vertical-align: middle;
}
.txt1{
    margin-left: 70px;
    display: inline-block;
}

